/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*Nav*/
nav {
	padding: 0.8rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	top: 0;
	background-color: white;
	position: sticky;
	z-index: 1100;
}

.nav:hover {
	background-color: #c2195b;
	border-radius: 20px;
	color: white;
	font-size: 1rem;
	padding-top: 0.2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.2rem;
	border: none;
}

nav .nav, nav .right-nav {
	padding: 0.3rem;
	display: inline;
	vertical-align: 25%;
}

nav .nav-logo{
	margin-left: 50px;
	margin-right: 30%;
	padding: 0.8rem;
	display: inline;
}

/*tuitt-button*/
.right-nav button {
	margin-right: 5%;
	float: right;
	vertical-align: 10%;
	font-weight: bold; 
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-size: 1rem;
	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	border: none;

}

.right-nav button:hover {
	background-color: deeppink;
}

/*background-image*/
#bg-image {
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: fixed;
	background-size: 100%;
	background-position: center center;
}

.container {
	color: white;
	text-align: right;
	position: relative;
	left: 50%;
  	right: 0px;
  	padding: 20px;
  	width: 45%;
}





/*front-bg*/
.front-bg {
	background: rgba(0, 0, 0, 0.7);
}


.title {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 40px;
}

.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
	margin-top: 5%;
}

.subtitle {
	font-weight: normal;
	margin-top: 0.5rem;
	font-size: 20px;
	margin-left: 25%;
	margin-bottom: 0.5rem;
}

.container button {
	font-weight: bold; 
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-size: 1rem;
	padding-top: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	border: none;
}

.container button:hover {
	background-color: deeppink;
}

.intro-description {
	text-align: justify;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

.pre-footer {
	padding-top: 0.3rem;
	background-color: #f7fbfb;
}

.prefooter-description {
	text-align: center;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.pre-footer button {
	font-weight: bold; 
	background-color: #336589;
	border-radius: 25px;
	color: white;
	font-size: 1rem;
	padding-top: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	margin-top: 2%;
	margin-left: 45%;
	margin-bottom: 10%;
	border: none;
}

.pre-footer button:hover {
	background-color: blue;
}

footer {
	text-align: center;
	margin: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}